body {
	background: #252424 url('img/devilBack.jpg') no-repeat 548px 50px;
	color:white;
	font-family:Tahoma;
	font-size:90%;
    width: 1030px;
    margin: 15px;
}
a {
    color:aqua;
    text-decoration: none;
}
.notFound {
    font-weight: bold;
}

#BodyTitle {
    background: url(img/header2.png) no-repeat 0 0;
    text-indent:-9999px;
    width: 438px;
    height: 112px;
}
#TopModule {
    width: 590px;
    margin: 10px;
}
#TopModule p {
    width: 560px;
}
.title {
    font-size: 18pt;
    font-weight: bold;
}
#TopModule .body {
    font-size: 12pt;
}

/* Module navigation */
h2 {
    color: orange;
    text-shadow: -2px 2px 2px #000;
}
#Tabs {
    margin-top: 30px;
}
.tabs {
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    margin: 25px;
    text-shadow: -1px -1px 0 #000;
}
a:hover,
a:active {
    color: red;
}


/* Modules global */
#ModuleWork,
#ModuleOther,
#ModuleAcc,
#ModuleContact,
#ModuleFooter,
#ContactThanks {
    width: 1000px;
}

.moduleBody {
    font-size: 90%;
    padding: 1px 10px;
    background: #353535;
    border-radius: 8px;
}
.moduleBody .title {
    font-size: 100%;
}
#ModuleFooter {
    margin-top:50px;
    text-align: right;
}
h3 {
    font-size: 150%;
    color: orange;
    text-shadow: -2px 2px 2px #000;
}



/* work history */
.workImage {
    float: left;
    margin: 5px;
}
.historyBody {
    clear: both;
}
hr {
    margin: 18px 0;
}



/* other sites */
h4 {
    font-weight: bold;
    margin: 5px;
}
.boxgrid { 
    width: 250px; 
    height: 178px; 
    margin:20px;
    overflow: hidden;
    position: relative;
    float: left;
}
.boxgrid img {
    border: 0;
}
.boxgrid p { 
    padding: 0;
    margin: 0 5px;
}
    
.boxcaption {
    position: absolute;
    background: #000;
    height: 150px;
    width: 100%;
}
#OtherBox {
    display: block;
    height: 650px;
    padding-left: 50px;
}
/* end other */


/* Contact module */
input, textarea { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
}
textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}
input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: red;
}
.form label { 
	margin-left: 10px; 
	color: #999999; 
}
.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
}
.submit {
    font-weight:bold;
    margin: 5px 144px;
}
.error {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}
textarea.error,
input.error {
    background: yellow;
}
#ModuleContact .topAlign {
    vertical-align: top;
}
.thanks {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
#ContactIcons {
    width: 100%;
    height: 160px;
}
#ContactSites {
    margin-top: 40px;
}
#ContactSites img,
#ContactSites embed {
    margin: 5px;
    border: none;
}

#ContactRight {
    float: right;
    padding: 15px 15px 0 0;
}

#GitBtn, #FaceBtn, #JqueryBtn, #LinkedBtn, #GoogBtn, #TreeBtn, #DribBtn, #GeekBtn, #TwitBtn {
    width: 46px;
    height: 60px;
    text-indent: -999px;
    padding: 30px;
    float: left;
}
#GitBtn { background: url(img/icons/gitOff.jpg) no-repeat 12px 0; }
#GitBtn:hover { background: url(img/icons/git.jpg) no-repeat 12px 0; }
#FaceBtn { background: url(img/icons/faceOff.jpg) no-repeat 12px 0; }
#FaceBtn:hover { background: url(img/icons/face.jpg) no-repeat 12px 0; }
#JqueryBtn { background: url(img/icons/jqueryOff.jpg) no-repeat 12px 0; }
#JqueryBtn:hover { background: url(img/icons/jquery.jpg) no-repeat 12px 0; }
#LinkedBtn { background: url(img/icons/linkedOff.jpg) no-repeat 12px 0; }
#LinkedBtn:hover { background: url(img/icons/linked.jpg) no-repeat 12px 0; }
#GoogBtn { background: url(img/icons/googOff.jpg) no-repeat 12px 0; }
#GoogBtn:hover { background: url(img/icons/goog.jpg) no-repeat 12px 0; }
#TreeBtn { background: url(img/icons/treeOff.jpg) no-repeat 12px 0; }
#TreeBtn:hover { background: url(img/icons/tree.jpg) no-repeat 12px 0; }
#DribBtn { background: url(img/icons/dribOff.jpg) no-repeat 12px 0; }
#DribBtn:hover { background: url(img/icons/drib.jpg) no-repeat 12px 0; }
#GeekBtn { background: url(img/icons/geekOff.jpg) no-repeat 12px 0; }
#GeekBtn:hover { background: url(img/icons/geek.jpg) no-repeat 12px 0; }
#TwitBtn { background: url(img/icons/twitOff.jpg) no-repeat 12px 0; }
#TwitBtn:hover { background: url(img/icons/twit.jpg) no-repeat 12px 0; }
/* End contact */

/* Accolades */
.bubbleTop {
    width: 940px;
    height: 13px;
    background: url(img/bubbleTop.gif) no-repeat 0 0;
    margin-top: 30px;
}

.bubbleBody p {
    margin: 0;
    padding: 0 10px;
    background-color: white;
    width: 920px;
    color: black;
    font-family: "Book Antiqua";
    font-size: 120%;
}

.bubbleBottom {
    width: 941px;
    height: 30px;
    background: url(img/bubbleBottom.gif) no-repeat 0 0;
}

.accoladesBy {
    margin-top: 20px;
    text-align: right;
}

/* ######################
 Mobile overrides 
########################*/
@media only screen and (max-width:1024px) {
    body {
        width: 480px;
    }
    #Tabs, .tabs {
        margin: 0;
    }
    .tabs {
        margin-right: 15px;
    }
    #TopModule p {
        width: auto;
    }
    #TopModule {
        background: none repeat scroll 0 0 #353535;
        width: 415px;
        height: 302px;
        border: none;
        padding: 3px 22px;
        margin: 10px;
        border-radius: 8px;
    }
    #ModuleWork, #ModuleOther, #ModuleAcc, #ModuleContact, #ModuleFooter, #ContactThanks {
        width: auto;
    }
    .boxgrid {
        float: none;
    }
    .boxcaption {
        position: relative;
    }
    #ContactRight {
        display: none;
    }
    .bubbleTop, .bubbleBottom {
        display: none;
    }
    .bubbleBody p {
        width: auto;
    }
    textarea {
        width: 305px;
    }
    #ContactSites {
        margin: 40px 0;
    }
    #ContactIcons {
        height: auto;
    }
    #GitBtn, #FaceBtn, #JqueryBtn, #LinkedBtn, #GoogBtn, #TreeBtn, #DribBtn, #GeekBtn, #TwitBtn, 
    #GitBtn:hover, #FaceBtn:hover, #JqueryBtn:hover, #LinkedBtn:hover, #GoogBtn:hover, #TreeBtn:hover, #DribBtn:hover, #GeekBtn:hover, #TwitBtn:hover {
        float: none;
        background: none;
        width: auto;
        height: auto;
        text-indent: 0;
        padding: 0;
    }
    #ContactIcons a {
        margin-left: 10px;
    }
    .boxcaption, .cover {
        display: block
    }
    .boxgrid {
        height: auto;
    }
    .boxcaption {
        background: none;
        width: auto;
        height: auto;
    }
    #ModuleOther .moduleBody {
        height: 2000px;
    }
}
/* ######################
 END Mobile overrides 
########################*/

/* hide all modules */
#ModuleOther,
#ModuleAcc,
#ModuleContact,
.otherHidden {
    display: none;
}